<div data-role="header" class="header">
  <nav data-role="navbar" data-grid-"d">
  <ul>
    <li><a href="/">UCSB {{site.course}} </a></li>
    <li><a href="https://ucsb-cmptgcs-1a-f17.github.io" class="ui-btn-active">{{site.course}} F17</a></li>
     <li><a href="https://submit.cs.ucsb.edu">submit.cs</a></li>
  </ul>
 </nav>
 <nav data-role="navbar" data-grid-"d">
  <ul>
   <li><a href="https://gauchospace.ucsb.edu/courses/course/view.php?id=19136">Gauchospace</a></li>
   <li><a href="https://gradescope.com">Gradescope</a></li>
    <li><a href="https://piazza.com/class/">Piazza</a></li>
  </ul>
 </nav>
</div>
